* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}

/*.inter {*/
/*    font-family: "Inter", sans-serif;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-variation-settings: "slnt" 0;*/
/*        }*/

.menu-header {
    text-align: center;
    margin: 32px 50px;
}

.menu-header-link {
    display: inline-block;
    text-align: center;
}

a {
    margin: 10px 30px;
    text-decoration: none;
    color: black;
    font-family: Inter;
}

.image {
    position: relative;
}

.coder {
    width: 100%;
    height: 552px;
}

h2 {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 40px;
}

.content {
    padding: 88px 0px;
}
.main-content {
    text-align: left;
    margin: auto 300px;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.blue-text {
    color: #04959E;
}

.list {
    text-align: left;
    margin: 24px 300px 40px 300px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

button {
    padding: 10px 24px;
    background-color: #04959E;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-left: 45%;
    margin-right: auto;
}

.footer-text {
    width: 856px;
    padding: 16px 0px;
    margin: 0 auto;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
